<p class="h1">Visualisierung Historie</p>
<br>
<div class="container container-fluid">

    <fieldset class="container row full border p-2">
      <legend class="w-auto"> Details</legend>

      <img src="{{selectedCountryMetaInfo?.countryInfo?.flag}}" class="img-fluid img-thumbnail float-left">

      <br>
      <div class="col container marged">
        <div class="container col">
          <div class="col">
            <span><p class="h4">Name:</p> {{selectedCountryMetaInfo?.country}}</span>
          </div>
          <div class="col">
            <span> <p class="h4">Gesamtfälle:</p> {{selectedCountryMetaInfo?.cases}}</span>
          </div>
          <div class="col">
            <span><p class="h4">Gesamt-Genesene:</p> {{selectedCountryMetaInfo?.recovered}}</span>
          </div>
          <div class="col">
            <span><p class="h4">Gesamt-Verstorbene:</p> {{selectedCountryMetaInfo?.deaths}}</span>
          </div>
        </div>
      </div>
    </fieldset>
  <div class="row">
    <canvas
      baseChart
      [data]="viewData_cases"
      [type]="'line'"
      [options]="chartOptions_cases">
    </canvas>
  </div>
</div>

